includeConfig 'configs/modules.config'
includeConfig 'configs/base.config'

conda.enabled = true

manifest {
    name            = 'genome_pipeline_nf'
    description     = 'Genome processing and QC pipeline'
    author          = 'Thomas Janas'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.10.1'
    version         = '1.0.0'
}

profiles {
    midway3_cdonnat {
        includeConfig 'configs/midway3.config'
        process.queue = 'cdonnat'
    }
    midway3_caslake {
        includeConfig 'configs/midway3_caslake.config'
        process.queue = 'caslake'
    }
}