params {
    outdir = "${projectDir}/results"
    debug = false
}

if (params.debug) {
    process {
        withName: 'GUNC_DOWNLOADDB' {
            publishDir = [
                path: "${params.outdir}/gunc_db",
                mode: 'symlink',
            ]
        }

        withName: 'CHECKM2_DATABASEDOWNLOAD' {
            publishDir = [
                path: "${params.outdir}/checkm2_db",
                mode: 'symlink',
            ]
        }
    }
}

process {
    conda = null

    withName: 'GUNC_RUN' {
        publishDir = [
            path: "${params.outdir}/gunc",
            mode: 'copy'
        ]
    }

    withName: 'CHECKM2_PREDICT' {
        publishDir = [
            path: "${params.outdir}/checkm2",
            mode: 'copy'
        ]
        scratch = true
    }

    withName: 'QC_TRIAGE' {
        publishDir = [
            path: "${params.outdir}/qc_triage",
            mode: 'copy'
        ]
    }

    withName: 'DUPLICATE_HANDLING' {
        publishDir = [
            path: "${params.outdir}/duplicate_handling",
            mode: 'copy'
        ]
    }

    withName: 'FASTANI' {
        publishDir = [
            path: "${params.outdir}/fastani",
            mode: 'copy'
        ]
        container = null
        scratch = true
    }

    // withName: 'BAKTA_BAKTADBDOWNLOAD' {
        // executor = 'local'
        // container = 'https://depot.galaxyproject.org/singularity/bakta:1.11.4--pyhdfd78af_0'
        // validExitStatus = 0, 1
        // errorStrategy = { task.exitStatus == 1 ? 'ignore' : 'terminate' }
        // ext.args = '|| true \
        //    amrfinder_update --force_update --database db/amrfinderplus-db'
    // }

    withName: 'BAKTA_BAKTA' {
        publishDir = [
            path: { "${params.outdir}/bakta/${meta.id}" },
            mode: 'symlink'
        ]
        ext.args = '--skip-trna --min-contig-length 200 --verbose'
    }

    withName: 'COUNT_AMINO_ACIDS' {
        publishDir = [
            path: "${params.outdir}/amino_acid_counts",
            mode: 'copy'
        ]
    }

    withName: 'KOFAMSCAN' {
        publishDir = [
            path: "${params.outdir}/kofamscan",
            mode: 'symlink'
        ]
        // KOFAMSCAN facing issues on HPC when using apptainer / singularity image. Broken pipe error
        container = null
        scratch = true
    }

    withName: 'KO_COUNT_MATRIX' {
        publishDir = [
            path: "${params.outdir}/ko_count_matrix",
            mode: 'copy'
        ]
    }
}