params {
    outdir = "${projectDir}/results"
}

process {
    conda = null

    withName: 'GUNC_RUN' {
        publishDir = [
            path: "${params.outdir}/gunc",
            mode: 'copy'
        ]
    }

    withName: 'CHECKM2_PREDICT' {
        memory = { 64.GB * task.attempt }
        publishDir = [
            path: "${params.outdir}/checkm2",
            mode: 'copy'
        ]
        scratch = true
    }

    withName: 'QC_TRIAGE' {
        publishDir = [
            path: "${params.outdir}/qc_triage",
            mode: 'copy'
        ]
    }

    withName: 'DUPLICATE_HANDLING' {
        publishDir = [
            path: "${params.outdir}/duplicate_handling",
            mode: 'copy'
        ]
    }

    withName: 'FASTANI' {
        publishDir = [
            path: "${params.outdir}/fastani",
            mode: 'copy'
        ]
        container = null
        scratch = true
    }

    withName: 'BAKTA_BAKTA' {
        publishDir = [
            path: { "${params.outdir}/bakta/${meta.id}" },
            mode: 'symlink'
        ]
        ext.args = '--skip-trna --force --min-contig-length 200 --verbose'
    }

    withName: 'COUNT_AMINO_ACIDS' {
        scratch = true
        publishDir = [
            path: "${params.outdir}/amino_acid_counts",
            mode: 'copy'
        ]
    }

    withName: 'KOFAMSCAN' {
        publishDir = [
            path: "${params.outdir}/kofamscan",
            mode: 'symlink'
        ]
        // KOFAMSCAN facing issues on HPC when using apptainer / singularity image. Broken pipe error
        container = null
        scratch = true
    }

    withName: 'KO_COUNT_MATRIX' {
        publishDir = [
            path: "${params.outdir}/ko_count_matrix",
            mode: 'copy'
        ]
    }

    withName: 'EGGNOGMAPPER' {
        publishDir = [
            path: "${params.outdir}/eggnogmapper",
            mode: 'copy'
        ]
    }

    withName: 'EXTRACT_16S_RRNA' {
        publishDir = [
            path: "${params.outdir}/extract_16s_rrna",
            mode: 'copy'
        ]
    }
    
}