process {
    conda = null
    // withName: 'GUNC_RUN' {
        // args = ''
        // publishDir = [
        // ]
    // }


    withName: 'BAKTA_BAKTADBDOWNLOAD' {
        executor = 'local'
        container = 'https://depot.galaxyproject.org/singularity/bakta:1.11.4--pyhdfd78af_0'
        // validExitStatus = 0, 1
        // errorStrategy = { task.exitStatus == 1 ? 'ignore' : 'terminate' }
        // ext.args = '|| true \
        //    amrfinder_update --force_update --database db/amrfinderplus-db'
    }

    withName: 'BAKTA_BAKTA' {
        ext.args = '--skip-trna --min-contig-length 200 --verbose'
    }

    checkm2_db = ""

    // withName: 'CHECKM2_DATABASEDOWNLOAD' {
        // checkm2_db = ""
        // cache = false
    // }

    withName: 'CHECKM2_PREDICT' {
        scratch = true
        // cache = false
    }

    withName: 'KOFAMSCAN' {
    //    conda = "${moduleDir}/environment.yml"
        container = null
        scratch = true
    //     cpus = 4
    }
}